* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0d0714;
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.main-container {
  max-width: 600px;
  margin: 5rem auto 0;
}

form {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
}

input {
  background-color: #3e1671;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  max-width: 381px;
  border-radius: 10px;
  border: 1px solid #7d60a4;
}

button {
  max-width: 62px;
  background-color: inherit;
  border-radius: 8px;
  border: none;
  padding: 8px;
  font-size: 2rem;
  cursor: pointer;
}

.tasks-container {
  margin-top: 2rem;
}

.tasks-container li {
  background-color: #15101c;
  color: #7d60a4;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 8px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all {
  background-color: #1d1825;
  padding-top: 50px;
  padding-left: 65px;
  padding-bottom: 55px;
  padding-right: 86px;
}
